.candidate-list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.candidate-list-title {
    font-size: 2rem;
    position: absolute;
    bottom: 50%;
}

.candidate-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.candidate-number {
    font-size: 4rem;
}

.candidate {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
}
